@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

span.glyphicon.glyphicon-thumbs-down:hover {
	cursor: pointer;
}

span.glyphicon.glyphicon-thumbs-up:hover {
	cursor: pointer;
}

main {
	display:block;
	background-image: url('../img/restaurant.png');
	opacity: 0.9;
	background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;

}